// COLORS
$primary-Color: #55c57a;
$primary-color-light:#7ed56f;
$primary-color-dark:#28b485;

$color-gray-dark:#777;
$color-white:#fff;
$color-black:#000;

//GRID
$grid-width : 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal : 6rem;
